# General files
.DS_Store
.Rhistory
*.un*

# Project-specific files and directories
.snakemake/
*-env/

# Partially ignored directories
data/*
!data/README.md

envs/*
!envs/Dockerfile
!envs/environment.yml
!envs/README.md

intermediate/*
!intermediate/README.md

logs/*
!logs/README.md

results/*
!results/stats/

scratch/*
!scratch/README.md